*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    text-decoration:none;
    user-select: none;

}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow:hidden;
    background: #09161d;
}
.Container-card{
  position: relative;
  width: 320px;
  height: 420px;
  background: #122936;
  border-radius: 20px;
  overflow: hidden;

}
.Container-card::before{
    content: '';
    position: absolute;
    top:-50%;
    width:100%;
    height: 100%;
    background: #2196f3;
    transform: skewY(345deg);
    transition: 0.5s;
}

.Container-card:hover::before{
    transform: skewY(390deg);
    top:-70%;
}

.Container-card::after{
    content: '';
}

.Container-card .img{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    z-index: 2;
}

.Container-card .img img{
    max-width: 87%;
    transition: 0.5s;
}
.Container-card:hover .img img{
    max-width: 67%;
    
}

.Container-card .Cardbx{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.Container-card .Cardbx h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: antiquewhite;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.Container-card .Cardbx h2{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: antiquewhite;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.Container-card .Cardbx h2 > span{
    padding-left: 4px;
    color: yellow;
}
.Container-card .Cardbx .btn{
    position: relative;
    top:200px;
    color: aliceblue;
    opacity: 0;
}

.Container-card .Cardbx .btn button{
    color: aliceblue;
    background: #2196f3;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 30px;
    margin-top: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.Container-card:hover .Cardbx .btn{
opacity: 1;
}

.Navbar{
    position: fixed;
    width: 100%;
    height: 10vh;
    background: #2196f3;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.Navbar .carrinho{
    padding: 0 3rem;
}
.Navbar .carrinho button{
    cursor: pointer;
}
.Navbar .carrinho button svg{
    font-size: 1.3rem;
    color: red;
}


.carShopping{
    position:absolute;
    background:#0a7bd8;
    min-height:100%;
    width:20%;
    right:0;
    z-index:100;
    border-radius:3px ;
    animation:fadeUp .4s linear ;
}

.carShopping .carShopping-button{
    position:relative;
    left:14rem;
    padding:1rem;
    font-size:1.5rem;
    cursor:pointer;
    z-index:3;
}
.carShopping .total{
    padding:0.5rem;
    position:relative;
    top:-3.5rem;
    font-size:1.2rem;
    font-weight:500;
    color:white;
}
.carShopping .btn-Carsho{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    position:absolute;
    top:calc(100% - 12rem);
    left:4rem;
    font-size:1.3rem;
}

.carShopping .btn-Carsho a{
    font-size:1.3rem;
    transition:0.5s;
}

.carShopping .btn-Carsho a:nth-child(1){
    background:red;
    border:2px solid red;
    border-radius:5px;
    color:white;
    height:4vh;
    text-align:center;
    margin-bottom:1rem;
    max-width:100%;
    padding:0.5rem;
}
.carShopping .btn-Carsho a:nth-child(2){
    
    background:transparent;
    border:2px solid white;
    border-radius:5px;
    color: white;
    height:4vh;
    text-align:center;
    max-width:100%;
    padding:0.5rem 1rem;
}
.carShopping .btn-Carsho a:nth-child(1):hover{
    background:rgb(168, 0, 0);
    border:2px solid rgb(168, 0, 0);
}
.carShopping .btn-Carsho a:nth-child(2):hover{
    background:#000000;
    border:2px solid rgb(0, 0, 0);
}
.carShopping-item .item{
    display:flex;
   align-items:center;
   justify-content:center;
    padding:1rem;
    background:#2196f3;
    border-radius: 4px;
    margin-bottom:0.6rem;
    height:3vh;
}
.carShopping-item .item .carShopping-item-name{
    padding:0 0.3rem;
}
.carShopping-item .item .carShopping-item-quantity{
    padding:0 0.4rem;
}
.carShopping-item .item .carShopping-item-img{
    padding:0 0.4rem;
}
.carShopping-item .item .carShopping-item-quantity-price{
    padding:0 0.4rem;
}

.carShopping-item .item .carShopping-item-button{
    cursor:pointer;
}
.carShopping-item .item .carShopping-item-button svg{
    color:red;
    font-size: 1.2rem;
}
.Finalizar{
    height: 100%;
    width:100%;
    position: absolute;
    top: 12%;
    
}


.Table{
    width: 100%;
    height: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.content-table{
    background: #fff;
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}
.content-table thead tr{
    background:#0a7bd8;
    text-align:left;
   color: aliceblue;
   font-weight: 500;
}
.content-table tbody tr{
    border-bottom: 1px solid #fff;
}
.content-table tbody tr:nth-of-type(even){
    background: #e4e4e4;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #0a7bd8;
}

.content-table  th, .content-table td{
    padding: 12px 20px;
    
}
@keyframes fadeUp{
    0%{
    transform:translateX(7rem);
    opacity:0;
    }
} 